@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: white;
    box-sizing: border-box;
  }
}
.image {
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
*[data-nextjs-scroll-focus-boundary] {
  display: flex;
  width: 100%;
  height: 100%;
}

/* styling scrollbar?\ */
.scrollbar {
  scrollbar-color: black;
}
.scrollbar::-webkit-scrollbar {
}
@tailwind utilities;
